.container__header{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    margin-bottom: 10px;
}
.container__header h4{
    margin: 0;
    font-size: 20px;  
}
.container__header img{
    height: 100%;
}