@import url(./variables.css);
#root{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "Inter_18pt-Regular";
    color: #000;
}
main{
    padding-top: 50px;
    margin: 0 37px; 
}
.section__imagen, .section__button{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__container{
    padding-bottom: 67px;
}
.section__text{
    text-align: center;
}
.section__text h1{
    font-family: "Inter_18pt-Bold";
    font-size: 32px;
    padding-bottom: 11px;
}
.section__text small{
    font-size: 17px;
}
.section__button{
    margin-top: 76px;
    gap: 14px;
}
.section__button a{
    border: none;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: red; */
    border-radius: 10px;
    width: 100%;
    height: 56px;
    font-family: "Inter_18pt-SemiBold";
    font-size: 16px;
}
.section__button Link:first-child{
    background: #000;
    color: #fff;
}
.section__button Link:last-child{
    background: #fff;
    border: 1px solid #747474;
    color: #000;
}

/* LogIn  */

header,
main,
footer {
    margin: 0 20px;
}

header {
    margin-top: 47px;
    /* background: red; */
}

.header__logo {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
main{
    margin-bottom: 50px;
}
.section__form {
    /* background: red; */
    display: flex;
    flex-direction: column;
}

.section__form h1 {
    padding-bottom: 38px;
    font-family: "Inter_18pt-Bold";
    font-size: 30px;
}

.login {
    display: flex;
    flex-direction: column;
}

.login label {
    font-size: 14px;
    padding-bottom: 6px;
}

.login input,
.section__social button {
    margin-bottom: 22px;
    border: none;
    outline: none;
    /* background: red; */
    border-radius: 10px;
    width: 100%;
    height: 56px;
    font-family: "Inter_18pt-SemiBold";
    font-size: 16px;
}

.login input[type="email"],
.login input[type="password"] {
    border: 1px solid #747474;
    font-family: "Inter_18pt-Regular";
    font-size: 16px;
    padding: 16px 46px 16px 18px;
}

.login span {
    font-size: 14px;
    text-align: right;
    margin-bottom: 38px;
}

.login input[type="submit"] {
    background: #000;
    color: #fff;
}

.section__line {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 22px;
}

.section__line::before,
.section__line::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #D8DADC;
}

.section__line::before {
    margin-right: 10px;
}

.section__line::after {
    margin-left: 10px;
}

.section__social{
    display: flex;
    gap: 15px;
}

.section__social button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #D8DADC;
    height: 56px;
    background: #fff;
}
footer{
    /* background: red;  */
    text-align: center;
}
footer p+b{
    font-family: "Inter_18pt-SemiBold";
    font-size: 14px;
}

/* SignUp */

header,
main,
footer {
    margin: 0 20px;
}

header {
    margin-top: 47px;
    /* background: red; */
}

.header__logo {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
main{
    margin-bottom: 50px;
}
.section__form {
    /* background: red; */
    display: flex;
    flex-direction: column;
}

.section__form h1 {
    padding-bottom: 38px;
    font-family: "Inter_18pt-Bold";
    font-size: 30px;
}

.login {
    display: flex;
    flex-direction: column;
}

.login label {
    font-size: 14px;
    padding-bottom: 6px;
}

.login input{
    margin-bottom: 22px;
    border: none;
    outline: none;
    /* background: red; */
    border-radius: 10px;
    width: 100%;
    height: 56px;
    font-family: "Inter_18pt-SemiBold";
    font-size: 16px;
}
.login input[type="text"],
.login input[type="email"],
.login input[type="password"] {
    border: 1px solid #747474;
    font-family: "Inter_18pt-Regular";
    font-size: 16px;
    padding: 16px 18px;
}

.login input[type="password"] {
    padding: 16px 46px 16px 18px;
}
.login span {
    font-size: 14px;
    text-align: left;
    margin-bottom: 38px;
}

.login input[type="submit"] {
    background: #000;
    color: #fff;
}

footer{
    /* background: red;  */
    text-align: center;
}
footer p+b{
    font-family: "Inter_18pt-SemiBold";
    font-size: 14px;
}